body {
    background: url('bg.png');
}
ul {
  list-style-type: none;
  margin-left: 0%;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
}

li {
  float: center;
}

li h1 {
  font-size: 50px;
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat;
  font-variant: small-caps;
}

#main h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  font-family: Montserrat;
}

#employee-login {
  margin-left: 27% !important;
  margin-right: 3% !important;
} 

#main button {
  font-size: 25px;
  font-family: Montserrat;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 300px;
  height: 200px;
  background-color: #e24a57;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform .2s;
}

#main button:hover {
  background-color: #a82530;
  transform: scale(1.2);
}

#login {
  padding: 10px 10px;
  background-color: white;
  margin-left: 35%;
  margin-right: 35%;
}

#login input[type="text"]
{
  size: 300px;
}
