<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../js/LoginEmployee.js"></script>
    <title>Employee Login</title>
<body>
        <div id="header">
                <ul>
                        <li><h1>Intern Port</h1></li>
                </ul>
                <hr></hr>
        </div>
    <br/>
        <h1 id="login-title">Employee Login</h1>
        <form class="Login" id="login">
            <label for="uname">Email</label>
            <br/>
            <input type="text" name="uname" placeholder="Employee Email" id="email" required>
            <br/><br/>
            <label for="password">Password</label>
            <br/>
            <input type="password" name="password"placeholder="Password" id="pass" required>
            <br/><br/>
            <button type="button" onclick="sign_in()">LOGIN!</button>
        </form>
        <br/>
        <a id="signup-link" href="EmployeeSignUpPage.html">Don't have an account? Sign up here!</a>
</body>
</html>