<!DOCTYPE html>
<html>
    <head>  
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/dashboard.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <title>Employee Dashboard</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <body>
        <script src="../js/DashBoardEmployee.js"></script>
        <ul scroll="no" id="side-bar">
            <br/>
            <li id="logo">Intern Port</li>
            <li id="company-name"></li>
            <li id="logout"><a href="javascript:void(0)">Logout</a></li>
        </ul>
        <div id="main-card" style="visibility: hidden;"></div>
        <div id="greeting"><h1 id="greeting_h1"></h1></div>
        <img src="../assets/loader.gif" id="loader">
        <div id="joke"></div>
    </body>
</html>